.contact {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    position: relative;
    width: 50%;
    @media only screen and (max-width: 800px) { width: 90%; }

    input, select {
      flex: 2;
    }

    select {
      margin: 5px 0;
    }

    label {
      margin-right: 10px;
    }
    button {
      float: right;
    }
  }
}

.email_status {
  text-align: center;
  color: red;
  padding: 20px;
  font-size: 1.5em;
}