.nav {
  position: fixed;
  top: 0;

  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: $gray;

  .title {
    color: white;
    font-size: 2em;
    padding-left: 10px;
  }

  .subtitle {
    color: white;
    font-size: 1.2em;
    margin-left: 10px;
      @media screen and (max-width: 450px){
        display: none;
      }

  }

  ul {
    display: inline;;
    list-style-type: none;
    font-size: 1.2em;
    color: white;
    li {
      margin-top: 20px;
      padding: 10px;
      display: inline;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .nav-head {
    color: white;
    font-size: 1.2em;
  }

  form {
    margin-right: 20px
  }

  input.login {
    border: unset;
    width: 75px;
    height: unset;
    padding: 5px;
    margin-left: 10px;
  }
}

.nav-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 50px;
  margin-right: 15px;
}

.menu, .home {
  color: white;
  font-size: 2em;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  // &:hover {
  //   color: $accent;
  // }
}


.menu:focus .sub-menu,
.menu:focus-within .sub-menu,
.menu:hover .dropdown_menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  //transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
a.home {
  text-decoration: none;
  border: none;
  font-size: 2.8em;
}

.dropdown_menu {
  visibility: hidden; /* hides sub-menu */
  display: flex;
  opacity: 0;
  //transform: translateY(-50px);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  z-index: -1;
  position: absolute;
  top: 50px;
  right: 0;
  flex-direction: column;
  position: fixed;
  width: 100px;
  background-color: $accent;
  color: white;
  font-size: .5em;
}

.menu_item, a.menu_item {
  padding: 5px 10px;
  color: white;
  font-size: 1em;
  &:hover {
    background-color: white;
    color: $accent;
  }
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 30px;
  //padding: 5px 0;
  text-align: center;
  color: white;
  background-color: black;
  font-size: 1em;
}