.nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: $gray;

  @media screen and (max-width: 600px){ width: auto;}

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
  }

  .title {
    color: white;
    font-size: 2em;
    padding-left: 10px;
  }

  .subtitle {
    color: white;
    font-size: 1.2em;
    margin-left: 10px;
    @media screen and (max-width: 450px){
      display: none;
    }

  }

  ul {
    display: inline;;
    list-style-type: none;
    font-size: 1.2em;
    color: white;
    li {
      margin-top: 20px;
      padding: 10px;
      display: inline;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .nav-head {
    color: white;
    font-size: 1.2em;
  }

  form {
    margin-right: 20px
  }

  input.login {
    border: unset;
    width: 75px;
    height: unset;
    padding: 5px;
    margin-left: 10px;
  }
}

.nav-icons{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  //min-width: 50px;
  //margin-right: 15px;

  .icon {
    font-size: 1.5em;
    padding: 0 5px;

    @media screen and (max-width: 800px){
      font-size:2em;
      &.home, &.edit {
        display: none;
      }
      &.menu { padding: 0; }
    }

  }
}

.menu, .home, a.home {
  color: white;
  //font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  border: none;
}


.menu:focus .sub-menu,
.menu:focus-within .sub-menu,
.menu:hover .dropdown_menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  //transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.dropdown_menu {
  visibility: hidden; /* hides sub-menu */
  display: flex;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  z-index: -1;
  position: absolute;
  top: 50px;
  right: 0;
  flex-direction: column;
  position: fixed;
  background-color: $accent;
  color: white;

}

.menu_item, a.menu_item {
  color: white;
  font-size: 1em;
  text-decoration: none;
  padding: 10px 20px;
  white-space: nowrap;

  @media screen and (max-width: 800px){
    font-size: 1.4em;
  }

  &:first-child {
    padding-top: 15px;
  }
  &:last-child {
    padding-bottom: 15px;
  }
  &:hover {
    background-color: white;
    color: $accent;
  }
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 30px;
  text-align: center;
  color: white;
  background-color: black;
  font-size: 1em;
}

.welcome {
  position: relative;
  color: white;
  padding:3px;
  font-size: 1.2em;
  //border:1px solid #e6e6e6;
  //width:700px;
  overflow:hidden;
  margin: 0 5px;
  flex: 1 1 100%;
}

.marquee{
  display:block;
  width: 100%;
  position:relative;
  animation:scroll 20s linear infinite;
  padding:3px;
  white-space: nowrap;
}

@keyframes scroll{
  0% {left:100vw;}
  100% {left:-100vw;}
}