.loginPage {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-form {
    background-color: white;
  }

  form {
    //width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    input {
      margin: 0;
    }

    // input[type=text],input[type=password]{
    //   width: 100%;
    //   max-width: 100%;
    //   font-size: 1.2em;
    //   padding: 10px;
    //   margin-bottom: 15px;
    // }

  }

  .fill {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .runin {
      min-width: unset;
    }

  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    &>* {
      margin: 10px 0 0;
      color: $main;
      &:hover {
        color: $accent;
      }
    }
  }

}