.main-page.main-column.search {
  margin-top: 50px;
}

.search-label {
  color: $main;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.searchContent.main-column {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;

  &.hide {
    display: none;
  }

  &:last-child {
    padding-bottom: 100px;
  }

  form {
    width: 100%;
    padding-top: 20px;
    &:first-child { padding-top: 0; }
    @media screen and (max-width: 600px){
      width: 95%;
    }
  }

  select[id=state]{
    margin: 0;
  }

  input[name=show],input[name=theater]{
    box-sizing: border-box;
    max-width: unset;
    width: 100%;
    padding: 5px;
    color: black;
    background-color: $background;
    border-radius: 5px;
  }

  input[type='text'] {
    background-color: #EEE;
  }

}

.searchContent {
  width: 100%;
  .searchResults {
    width:100%;
  }

}

.search_result {
  width: 100%;
  padding: 25px 0;
  font-size: 1.2em;
  text-align: left;
  background-color: $altrow;

  &:nth-child(even){
    background-color: $grayrow;
  }

  .number_long {
    font-size: 2em;
    font-weight: bold;
    min-width: 75px;
    color: $main;
    text-align: center;
  }
  .theater_address {
    margin-left: 65px;
  }
}

.upcoming {
  margin-top: 15px;
  font-size: .9em;
  .runin {
    font-size: .9em;
  }
  .prod {
    font-weight: bold;
    font-style: italic;
    font-size: .9em;
  }
}

.next {
  font-size: .8em;
  font-weight: bold;
  color: $main;
  text-transform: uppercase;
}

.prod {
  font-size: 1.2em;
  //text-transform: uppercase;
  color: $accent;
}

.noresults {
  width:100%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 50px 0;
  background-color: $altrow;

}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;

  &.main-column {
    padding-top: 25px;
    padding-bottom: 100px;
  }

  .subbutt {
    cursor: pointer;
    font-size: 1em;
    padding: 5px 10px;

    &.prev{
      margin: 0 20px 0 0;
    }
    &.next{
      margin: 0 0 0 20px;
    }
  }
}


.show_results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-weight: bold;
    font-size: 1.2em;
  }

  .toggle {
    padding: 0;
  }
}

.upcoming div {
  display: block;
}

.theater_name {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.result-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  padding: 20px 0;
  flex-wrap: nowrap;
  margin: 0 10px;

  div:not(:first-child){
    margin-left: 70px;
    @media screen and (max-width: 600px){
      margin-left: 55px;
    }

  }

  .link-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    a div {
      margin-left: 15px;
      display: inline-block;
    }
  }

}

.show-title {
  background-color: white;
  div {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: $main;
  }
}