.searchContent {
  position: relative;
  margin-top: 70px;
  @media screen and (max-width: 600px){
    width: 75%;
  }
}

.searchContent {

  select[id=state]{
    margin: 0;
  }

  input[name=show],input[name=theater]{
    width: 100%;
    max-width: unset;
    margin: 0 !important;
  }

  input[type='text'] {
    margin: 0 10px;
    background-color: #EEE;
  }
  form {
    margin: 20px 0;
  }
  .go {
    width: 100%;
    margin-top: 10px;
    .subbutt {
      float: right;
      margin: 0;
    }
  }
}

.search_result {
  margin: 25px 10px 10px;
  font-size: 1.2em;
  text-align: left;
}

.upcoming {
  margin: 5px 0 20px 20px;
  font-size: .9em;
  .runin {
    font-size: .9em;
  }
  .prod {
    font-weight: bold;
    font-style: italic;
    font-size: .9em;
  }
}

.runin.next {
  font-size: 1.1em;
  font-weight: bold;
  color: red;
}

.noresults {
  font-size: .5em;
}

.pagination {
  margin-top: 25px;

  .subbutt {
    cursor: pointer;
    font-size: 1em;
    padding: 5px 10px;

    &.prev{
      margin: 0 20px 0 0;
    }
    &.next{
      margin: 0 0 0 20px;
    }
  }
}

.show_results div {
  display: inline-block;
}

.upcoming div {
  display: block;
}

.theater_name {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}