.main-column {
  width: 50%;
  min-width:750px;
  padding: 20px 50px;

  @media screen and (max-width: 800px){
    width: 100%;
    min-width: unset;
    padding: 20px 0;
  }
}

.admin-theater {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  > form {
    width: 50%;
  }
}

h2.main-page {
  margin: 0 auto;
  font-family: 'Libre Baskerville', serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $main;
  text-align: center;

  &.showlast{ order: 9; }
}

h3.sub-column {
  margin: 0 auto;
  font-family: 'Libre Baskerville', serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: darkgray;
  text-align: center;
  padding: 10px;
}

.theater {
  background-color: white;

}

.theaters {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .theater_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    > * {
      font-size: 1.4em;
    }
    .theater_name {
      font-family: 'Libre Baskerville', serif;
      font-size: 2em;
      color: $main;
    }
  }

  .theater-info-table {
    width: 100%;
    padding: 15px;
  }

  .theater-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .table-button {
    padding: 0 10px;
    cursor: pointer;
    .table-edit {
      font-size: 2em;
    }
    .table-submit {
      font-size: 2em;
      color: $main;
      margin-right: 10px;
    }
    .table-return {
      font-size: 2em;
      color: crimson;
    }
  }
  .table-label {
    font-weight: bold;
    color: $main;
    text-align: right;
  }

}

.showlast ~ .productions {
  padding-bottom: 0;

  .production:last-child {
    border-bottom: unset;
  }
}

.toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 850px;

  &:hover {
    background-color: $accent;
    color: black;
  }

  @media screen and (max-width: 800px){ width: 100%; }

  .toggle-button {
    cursor: pointer;
    width: 50%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: darkgray;
    padding: 15px 0;
    &.active{
      color: $main;
    }
    &:first-child{
      border-right: 2px solid white;
    }
  }
}

.productions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding-bottom: 200px;

  &.hide {
    display: none;
  }

  .production {
    margin-top: 40px;
    width: 100%;
    border-bottom: 2px solid $main;

    .details-table {
      margin: 50px auto 30px;
      tr {
        vertical-align: top;
        td {
          padding: 0 50px 20px 0;
          &:first-child {
            color: $main;
            font-weight: bold;
            margin-right: 30px;
          }
        }
      }

    }
  }
  .show_dates {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
    color: $black;
    margin: 10px;
    text-align: center;
  }
  .show_title {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: 700;
    color: $main;
    padding: 10px;
    text-align: center;
  }
  .genre-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
  }
  .genre {
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 8px;
    margin: 3px 3px 3px 0;
    width: 300px;
    text-align: center;
  }
  .venue {
    margin: 10px;
  }

  .description {
    border-top: 1px solid $main;
    margin: 0 20px;
    padding-top: 10px;
    line-height: 1.5em;
    &>*{
      margin: 0 25px 25px;
    }
  }
}

.instr {
  font-weight: 600;
  color: $main;
  margin: 20px 0;
}

.edit-prod-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;

  .form-button-3 {
    width: 50%;
    background-color: $main;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 15px;
    &:first-child {
      border-right: 2px solid white;
    }
  }
}




