
$main_font: 'Raleway', sans-serif;
$heading_font: 'Libre Baskerville', serif;

$black: #242B40;
$yellow: #e8d25a;
$gray: #505050;
$main: indigo;
$accent: darkorchid;
$background: #EEE;

$altrow: #e7e1f1;
$grayrow:  #F5F5F5

//$grayrow: #e9e9e9;