@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Raleway|Libre+Baskerville&display=swap");
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: .6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.head1 {
  margin: 40px 0 20px;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase; }

.search_result {
  margin: 10px;
  font-size: 1.2em;
  text-align: left; }

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px; }
  .body .main {
    margin: 25px 0;
    width: 60%; }
    .body .main p {
      font-size: 1.5em;
      line-height: 1.8em; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25px;
  background-color: #505050;
  padding: 20px 10px 10px; }
  .nav .title {
    color: white;
    font-size: 2em; }
  .nav .subtitle {
    color: white;
    font-size: 1.2em;
    margin-left: 10px; }
  .nav ul {
    display: inline;
    list-style-type: none;
    font-size: 1.2em;
    color: white; }
    .nav ul li {
      margin-top: 20px;
      padding: 10px;
      display: inline; }
  .nav .nav-head {
    color: white;
    font-size: 1.2em; }
  .nav form {
    margin-right: 20px; }
  .nav input.login {
    border: unset;
    width: 75px;
    height: unset;
    padding: 5px;
    margin-left: 10px; }

.group {
  margin: 25px 0; }

.instruction {
  font-weight: 700;
  margin: 20px 0 10px;
  font-size: 1.2em; }

.add-div {
  padding: 2px;
  margin: 0  150px 30px;
  text-align: center;
  font-size: 1em;
  color: white;
  background-color: darkgray;
  height: 1.3em;
  width: 10em;
  border: gray solid 1px;
  border-radius: 5px;
  cursor: pointer; }

.artist_item {
  margin: 20px; }

.add_a_show, .add_venue {
  padding: 20px;
  background-color: lightblue;
  margin: 20px 0; }

select {
  margin-right: 20px; }

.theater_item {
  padding: 5px; }

.stage_rabbit {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: ivory; }

.submit_me {
  cursor: pointer;
  padding: 2px;
  text-align: center;
  color: white;
  font-weight: 600;
  background-color: darkblue;
  border-radius: 5px;
  width: 50px;
  height: 15px; }

.subbutt {
  margin-left: 20px;
  color: white;
  font-weight: 600;
  background-color: darkblue;
  border-radius: 5px; }

.addbutt {
  width: 50px;
  margin: 0 20px;
  color: white;
  font-weight: 600;
  background-color: darkgray;
  border-radius: 5px;
  margin-bottom: 20px; }

input[type='text'] {
  margin: 5px 0;
  font-family: 'Raleway', sans-serif;
  width: 300px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid gray;
  color: darkblue; }
  input[type='text'].person {
    width: 100px; }

.venues, .all_shows, .add_venue {
  padding: 50px; }

.all_shows {
  background-color: ivory; }

.add_show {
  padding: 50px;
  background-color: lightblue; }

.clickable {
  text-decoration: underline;
  cursor: pointer; }
  .clickable:hover {
    color: purple; }

.list {
  font-style: italic;
  color: blue;
  font-size: 1em;
  font-weight: bold;
  margin-left: 30px; }

.runin {
  color: darkblue;
  font-size: 1em;
  font-weight: bold;
  min-width: 200px;
  margin-right: 10px;
  font-style: italic; }

textarea {
  margin: 5px 0;
  width: 400px;
  height: 100px; }

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 15px;
  text-align: center;
  color: white;
  background-color: black; }

a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: .25px solid white; }
  a:link, a:visit, a:active {
    color: white;
    text-decoration: none; }
  a:hover {
    cursor: pointer;
    color: pink; }
  a.link {
    margin-left: 10px; }
  a.inline {
    color: blue; }

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.welcome {
  color: white;
  font-size: 1.2em; }
  .welcome .logout {
    cursor: pointer;
    margin-left: 20px;
    padding-bottom: 2px;
    border-bottom: .25px solid white; }
    .welcome .logout:hover {
      color: pink; }

.website {
  text-decoration: underline;
  color: red;
  cursor: pointer; }
  .website:hover {
    color: pink; }

.venues {
  position: fixed;
  top: 75px;
  left: 0;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px grey;
  width: 20%;
  min-width: 200px; }
  .venues h2 {
    font-family: 'Libre Baskerville', serif;
    color: crimson;
    text-weight: bold;
    text-shadow: .25px .25px 8px white; }
  .venues ol {
    max-width: 350px;
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 40px; }
  .venues ol li {
    margin: 0 0 0.5rem 0;
    counter-increment: my-awesome-counter;
    position: relative; }
  .venues ol li::before {
    content: counter(my-awesome-counter);
    color: #e8d25a;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    background: #242B40;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #999; }

.theaters {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px; }
  .theaters .theater_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .theaters .theater_info > * {
      font-size: 1.4em; }
    .theaters .theater_info .theater_name {
      font-family: 'Libre Baskerville', serif;
      font-size: 2em;
      color: darkblue; }

.theater {
  margin-top: 30px;
  width: 33%;
  min-width: 200px; }
  .theater h2 {
    font-family: 'Libre Baskerville', serif;
    color: darkblue;
    font-size: 2em; }

.productions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 33%; }
  .productions h2 {
    align-self: center;
    font-family: 'Libre Baskerville', serif;
    color: darkblue;
    font-size: 2em;
    margin: 20px 0 0; }
  .productions .production {
    background-image: linear-gradient(to left, rgba(112, 128, 144, 0.2), rgba(119, 136, 153, 0.8));
    border-radius: 10px;
    margin: 20px 0 0;
    box-shadow: 5px 5px 10px grey;
    padding-bottom: 30px;
    width: 100%; }
  .productions .show_dates {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
    color: #242B40;
    margin: 10px;
    text-align: center; }
  .productions .show_title {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: 700;
    color: lightgray;
    background-color: #242B40;
    color: #e8d25a;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    text-align: center; }
  .productions .genre-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px; }
  .productions .genre {
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 8px;
    margin: 3px 3px 3px 0;
    width: 300px;
    text-align: center; }
  .productions .venue {
    margin: 10px; }
  .productions .creatives {
    margin: 20px;
    line-height: 1.4em; }
  .productions .description {
    border-top: 1px solid darkblue;
    margin: 0 20px;
    padding-top: 10px;
    line-height: 1.5em; }
